---
import Layout from '../layouts/Layout.astro';
//import Card from '../components/Card.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Tesla-Landing-Page.">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
	<section class="bg-black h-screen w-screen text-center overflow-hidden relative"
	>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Disfrute de tesla 
			</h2>
			<p class="text-white text-sm">
				programe una prueba de Conduccion hoy mismo
			</p>
		</header>

		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div>
			<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-6 py2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Prueba de Conduccion </a>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video 
		class="object-center object-cover h-full w-full" 
		autoplay
		 muted
		loop 
		src="/video.webm"></video>
	</div>
	</section>
	<section
	class="bg-black h-screen w-screen text-center overflow-hidden relative"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Model S 
			</h2>
			<p class="text-white text-sm">
				Xplore Inventory 
			</p>
		</header>

		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div class="gap-x-6 flex mx-auto">
			<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-6 py2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Xplore inventory  </a>
		</footer>
		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div>
			<a class="bg-white text-sm rounded font-medium text-white px-12 py-2  transition-colors  hover:bg-black hover:text-white inline-flex justify-center items-center text-black"
			 href="#"> Custom Order </a>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video 
		class="object-center object-cover h-full w-full" 
		autoplay
		 muted
		loop 
		src="/Model-S.webm"></video>
	</div>
	</section>
	<section
	class="bg-black h-screen w-screen text-center overflow-hidden relative"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Model 3 
			</h2>
			<p class="text-white text-sm">
				Demo Drive
			</p>
		</header>

		
		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div class="gap-x-6 flex mx-auto">
			<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-6 py2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Custom Order  </a>
		</footer>
		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div>
			<a class="bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Demo Drive </a>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video 
		class="object-center object-cover h-full w-full" 
		autoplay
		 muted
		loop 
		src="/Model-3.webm"></video>
	</div>
	</section>
	<section
	class="bg-black h-screen w-screen text-center overflow-hidden relative"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Model - X 
			</h2>
			<p class="text-white text-sm">
				Xplore Inventory 
			</p>
		</header>

		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div>
			<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-6 py2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Prueba de Conduccion </a>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video 
		class="object-center object-cover h-full w-full" 
		autoplay
		 muted
		loop 
		src="/Model-X.webm"></video>
	</div>
	</section>
	<section
	class="bg-black h-screen w-screen text-center overflow-hidden relative"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Model-Y
			</h2>
			<p class="text-white text-sm">
				View-Inventory
			</p>
		</header>

		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div>
			<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-6 py2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Prueba de Conduccion </a>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video 
		class="object-center object-cover h-full w-full" 
		autoplay
		 muted
		loop 
		src="/Model-Y.webm"></video>
	</div>
	</section>
	<section
	class="bg-black h-screen w-screen text-center overflow-hidden relative"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Solar-Roof
			</h2>
			<p class="text-white text-sm">
				View-Inventory
			</p>
		</header>

		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div>
			<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-6 py2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Prueba de Conduccion </a>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video 
		class="object-center object-cover h-full w-full" 
		autoplay
		 muted
		loop 
		src="/Solar-Roof.webm"></video>
	</div>
	</section>
	<section
	class="bg-black h-screen w-screen text-center overflow-hidden relative"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Solar-Panels For your Home
			</h2>
			<p class="text-white text-sm">
				Lowest Cost Solar Panels in America 
			</p>
		</header>

		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div>
			<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-6 py2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Prueba de Conduccion </a>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video 
		class="object-center object-cover h-full w-full" 
		autoplay
		 muted
		loop 
		src="/Solar-Roof.webm"></video>
	</div>
	</section>
	<section
	class="bg-black h-screen w-screen text-center overflow-hidden relative"
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class="text-white pt-40 text-[40px] font-medium">
				Power-Wall
			</h2>
			<p class="text-white text-sm">
				Lowest Cost Solar Panels in America 
			</p>
		</header>

		<footer class=" flex flex-col flex-grow justify-end pb-20">
			<div>
			<a class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-6 py2 inline-block hover:bg-white hover:text-black transition-colors"
			 href="#"> Prueba de Conduccion </a>
		</footer>
	</div>

	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<video 
		class="object-center object-cover h-full w-full" 
		autoplay
		 muted
		loop 
		src="/PowerFlow.webm"></video>
	</div>
	</section>
</main>
</Layout>
